/*
= VARIABLES
------------------------------------------------------------------------------------- */

	/*
	+ Colors */

		$color-black: #000000;
		$color-davis-gray: #525a5f;
		$color-yankees-blue: #122f43;
		$color-granite-gray: #5c6164;
		$color-roman-silver: #8a9399;
		$color-lavender-gray: #c5cace;
		$color-white: #ffffff;
		$color-light-carmine-pink: #ed6079;
		$color-french-pink: #ff7e9d;
		$color-carnation-pink: #ffaac9;
		$color-beer: #fc8d27;
		$color-rajah: #ffa857;
		$color-topaz: #ffc670;
		$color-chartreuse: #e6fa05;
		$color-dodie-yellow: #f5ff53;
		$color-sunny: #f7ff7e;
		$color-azure: #0783f6;
		$color-brilliant-azure: #2c9aff;
		$color-very-light-azure: #75bdff;
