/*
= LANDSCAPE MESSAGE
------------------------------------------------------------------------------------- */

.landscape-message {
	position: fixed; left: 0; top: 0; z-index: 9999; display: none !important;
	width: 100%; height: 200%;
	background: url(../img/bgr-landscape-message.jpg) center no-repeat #000000; background-size: contain;
	@include transform($y: -25%);
}

.mobile.landscape {
	.landscape-message {display: block !important;}
	body.page-id-13,
	body.page-id-1662,
	body.page-id-1756,
	body.page-id-1469,
	body.page-id-1682,
	body.page-id-2464,
	body.page-id-3922,
	body.page-id-3929,
	body.parent-pageid-13,
	body.parent-pageid-1662,
	body.parent-pageid-1756,
	body.parent-pageid-1469,
	body.parent-pageid-1682 {
		.landscape-message {display: none !important;}
	}
}
