/*
= GLOBAL STYLES
------------------------------------------------------------------------------------- */

	html,
	body {
		&.home,
		&.overlay-active {
			overflow: hidden; position: relative;
			width: 100%; height: 100%;
		}
		//background: #122F43;
		&:not(.home) {
			overflow-x: hidden; position: relative;
			background-color: #F9F9F9;
		}
	}

	.switching {
		pointer-events: none;
	}

	/* 
	+ Preloading */

		.loading-holder {
			position: fixed; top: 0; left: 0; z-index: 9999;
			width: 100%; height: 100%;
			background: $color-yankees-blue;
			.loader-overlay {
				position: absolute; top: 0; left: 0;
				width: 100%; height: 100%;
				background: $color-yankees-blue;
			}
			.loader {
				position: absolute; top: 0; left: 0;	
				width: 100%; height: 100%;
			}
			#loader {
				position: absolute; left: 50%; top: 50%; z-index: 2;
				width: 17.36vw; height: 6.94vw;
				@include transform($x: -50%, $y: -50%);
			}
			.progress-notification {
				display: none;
			}
			.progress-bar {
				position: absolute; top: 0;
				width: 100%; height: 0;
			}
			.progress-loaded {
				position: relative;
				width: 0; height: 100%;
				border-bottom: 2px solid $color-yankees-blue;
			}
			@include breakpoint(960) {
				#loader {
					width: 50vw; height: 20vw;
				}			
			}
		}

	.wrapper {
		max-width: 1260px;
		padding-left: 30px; padding-right: 30px;
		margin-left: auto; margin-right: auto;
		box-sizing: border-box;
		@include breakpoint(768) {
			padding-left: 60px; padding-right: 60px;
		}
		@include breakpoint(640) {
			padding-left: 30px; padding-right: 30px;
		}
	}

	.sliced {
	    position: absolute; left: 0px; top: 0px; opacity: 1; z-index: 2; overflow: hidden;
	    width: 100%; height: 100%;
	    img {
	    	display: block; position: absolute; left: 50%; top: 50%;
	    	min-width: 100%; min-height: 100%;
	    	@include transform($x: -50%, $y: -50%);
	    }
		.tile { 
		    float: left; opacity: 0; overflow: hidden;
		    @include visibility();
		    @include transition(1500ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
		    @include transition-property(opacity, transform);
		    &:nth-of-type(6) {
		    	@include transition-delay(100ms);
		    }
		    &:nth-of-type(13) {
		    	@include transition-delay(200ms);
		    }
		    &:nth-of-type(12) {
		    	@include transition-delay(300ms);
		    }
		    &:nth-of-type(7) {
		    	@include transition-delay(400ms);
		    }
		    &:nth-of-type(11) {
		    	@include transition-delay(500ms);
		    }    
		    &:nth-of-type(8) {
		    	@include transition-delay(600ms);
		    }
		    &:nth-of-type(5) {
		    	@include transition-delay(700ms);
		    }
		    &:nth-of-type(4) {
		    	@include transition-delay(800ms);
		    }    
		    &:nth-of-type(9) {
		    	@include transition-delay(900ms);
		    }
		    &:nth-of-type(2) {
		    	@include transition-delay(1000ms);
		    }
		    &:nth-of-type(14) {
		    	@include transition-delay(1100ms);
		    }
		    &:nth-of-type(16) {
		    	@include transition-delay(1200ms);
		    }
		    &:nth-of-type(3) {
		    	@include transition-delay(1300ms);
		    }
		    &:nth-of-type(15) {
		    	@include transition-delay(1400ms);
		    }
		    &:nth-of-type(10) {
		    	@include transition-delay(1500ms);
		    }
		    &:first-of-type {
		    	@include transition-delay(1600ms);
		    }    
		}    
	    &.back {
	    	opacity: 0.2;
	    }
	    &.front {
	    	.tile {
	    		@include transform($y: 100vh);
	    	}
	    }
		&.initialized {
	    	.tile {
	    		@include transform();
	    	}
	    }
	}

	.init-anim {
		.bgrs-holder {
			.active {
				.sliced {
					.tile {
						opacity: 1;
					    &:first-of-type {
					    	opacity: 0.5;
					    }
					    &:nth-of-type(3),
					    &:nth-of-type(9) {
					    	opacity: 0.6;
					    }
					    &:nth-of-type(5),
					    &:nth-of-type(10) {
					    	opacity: 0.8;
					    }
					    &:nth-of-type(8),
					    &:nth-of-type(11),
					    &:nth-of-type(13),
					    &:nth-of-type(14),
					    &:nth-of-type(16) {
					    	opacity: 0.7;
					    }
					}				
					&.front {
						.tile {
							@include transform();
						}
					}
				}
			}
			.up {
				.sliced {
					&.front {
						.tile {
							@include transform($y: -100%);
						}
					}
				}
			}
			.down {
				.sliced {
					&.front {
						.tile {
							@include transform($y: 100%);
						}
					}
				}
			}
		}
	}

	.portrait {
		.sliced {
		    img {
		    	top: 0px; 
		    	min-height: initial; min-width: initial; height: 100%; width: auto;
		    	@include transform($x: -50%);
		    }
		}
	}


// Image ovarlay effects
@keyframes noise-anim {
	0% { @include transform($x: 0%, $y: 0%); }
	10% { @include transform($x: -5%, $y: -5%); }
	20% { @include transform($x: -10%, $y: 5%); }
	30% { @include transform($x: 5%, $y: -10%); }
	40% { @include transform($x: -5%, $y: 15%); }
	50% { @include transform($x: -10%, $y: 5%); }
	60% { @include transform($x: 15%, $y: 0%); }
	70% { @include transform($x: 0%, $y: 10%); }
	80% { @include transform($x: -15%, $y: 0%); }
	90% { @include transform($x: 10%, $y: 5%); }
	100% { @include transform($x: 5%, $y: 0%); }
}

.with-effect,
body:not(.single-post) .wp-block-image,
.wp-block-media-text__media,
//figure.has-image a,
.featured-image {
	position: relative; display: inline-block; overflow: hidden;
	img {
		display: block;
	}
	&:before {
		content: "";
		display: block; position: absolute; left: 0px; top: 0px;
		width: 100%; height: 100%;
		background: url(../img/mask-landscape.png) left top no-repeat; background-size: cover;
		mix-blend-mode: multiply;
	}
	&:after {
		content: "";
		position: absolute; top: -50%; left: -50%; right: -50%; bottom: -50%;
		width: 200%; height: 200vh;
		background: url(../img/noise.png) left top repeat; 
		animation: noise-anim 200ms infinite;
	}
	&.square {	
		&:before {
			background-image: url(../img/mask-square.png);
		}
	}
	&.portrait {
		&:before {
			background-image: url(../img/mask-portrait.png);
		}
	}
	&.no-effects {
		&:before,
		&:after {
			display: none;
		}&:before,
		&:after {
			display: none;
		}
	}
}
.wp-block-image,
figure.has-image a,
.featured-image {
	display: block;
}
.wp-block-media-text__media {
	&:before {
		background-image: url(../img/mask-portrait.png);
	}
}
.square {
	.wp-block-media-text__media {
		&:before {
			background-image: url(../img/mask-square.png);
		}
	}
}
.no-effects {
	.wp-block-media-text__media {
		&:before,
		&:after {
			display: none;
		}
	}
}
