/*
    Asian Legacy Library Styles
    Created: 2022-08-17
*/
.is-style-fill > a,
.is-style-outline > a {
    padding: 0.3em;
}

.wp-block-buttons .wp-block-button .wp-block-button__link {
    padding: 0.3em;
}
