/*
= HOMEPAGE
------------------------------------------------------------------------------------- */

	// Image ovarlay effects
	@keyframes noise-anim {
		0% { @include transform($x: 0%, $y: 0%); }
		10% { @include transform($x: -5%, $y: -5%); }
		20% { @include transform($x: -10%, $y: 5%); }
		30% { @include transform($x: 5%, $y: -10%); }
		40% { @include transform($x: -5%, $y: 15%); }
		50% { @include transform($x: -10%, $y: 5%); }
		60% { @include transform($x: 15%, $y: 0%); }
		70% { @include transform($x: 0%, $y: 10%); }
		80% { @include transform($x: -15%, $y: 0%); }
		90% { @include transform($x: 10%, $y: 5%); }
		100% { @include transform($x: 5%, $y: 0%); }
	}

	// #noise {
	// 	position: absolute; left: 0px; top: 0px; z-index: 2;
	// 	width: 100%; height: 100%;
	// 	opacity: 0.05;
	// 	@include visibility();
	// 	@include transform();
	// }

	@keyframes blinking-anim {
		0% { opacity: 0; }
		25% { opacity: 1; }
		50% { opacity: 0; }
		75% { opacity: 1; }
		100% { opacity: 0; }
	} 

	@keyframes blinking-anim-v2 {
		0% { opacity: 0; }
		33.33% { opacity: 1; }
		66.66% { opacity: 0; }
		100% { opacity: 1; }
	} 

	@keyframes filling-anim {
		0% { opacity: 0; }
		5%, 100% { opacity: 1; }
	}

	@keyframes filling-anim-v2 {
		0%, 5% { opacity: 0; }
		10%, 80% { opacity: 1; }
		85% { opacity: 0; }
		90%, 100% { opacity: 1; }
	}

	@keyframes filling-anim-v3 {
		0%, 10% { opacity: 0; }
		15%, 75% { opacity: 1; }
		80%, 90% { opacity: 0; }
		95%, 100% { opacity: 1; }
	}

	@keyframes filling-anim-v4 {
		0%, 15% { opacity: 0; }
		20%, 70% { opacity: 1; }
		75%, 100% { opacity: 0; }
	}

	@keyframes filling-anim-v4 {
		0%, 20% { opacity: 0; }
		25%, 65% { opacity: 1; }
		70%, 100% { opacity: 0; }
	}

	@keyframes filling-anim-v5 {
		0%, 25% { opacity: 0; }
		30%, 60% { opacity: 1; }
		65%, 100% { opacity: 0; }
	}

	@keyframes filling-anim-v6 {
		0%,
		30% { opacity: 0; }
		35%, 55% { opacity: 1; }
		60%, 100% { opacity: 0; }
	}

	@keyframes filling-anim-v7 {
		0%,
		35% { opacity: 0; }
		40%, 50% { opacity: 1; }
		55%, 100% { opacity: 0; }
	}

	@keyframes filling-anim-v8 {
		0%,
		40% { opacity: 0; }
		45% { opacity: 1; }
		50%, 100% { opacity: 0; }
	}

	.bgrs-holder {
		position: fixed; left: 0px; top: 0px; overflow: hidden;
		width: 100%; height: 100%;
		background: $color-yankees-blue;
		section {
			position: absolute; left: 0px; top: 0px; overflow: hidden;
			width: 100%; height: 100%;	
			//background: $color-yankees-blue;
			@include visibility();
			//@include transform();
			@include transition(2000ms cubic-bezier(0.645, 0.045, 0.355, 1.000));	
			@include transform($y: 100%);		
			.bgr {
				position: absolute; left: 0px; top: 0px;
				width: 100%; height: 100%;	
				background-position: center; background-repeat: no-repeat; background-size: cover;		
			}
			.decoration {
				position: absolute; left: 0px; top: 0px; z-index: 3;
				width: 100%; height: 100%;
				p {
					position: absolute; opacity: 1;
					width: 120px;
					color: $color-white; font-size: 11px; line-height: 15px;
					filter: blur(1.3px);
					@include visibility();
					@include transform();
					@include transition(2000ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
					span {
						opacity: 0;
						@include visibility();
						@include transform();
						@include transition(250ms ease-in-out);
					}
				}
				.boxes-holder,
				.progresses-holder {
					position: absolute; left: 0px; top: 0px;
					width: 100%; height: 100%;
					@include visibility();
					@include transform();
					@include transition(2000ms cubic-bezier(0.645, 0.045, 0.355, 1.000));
					div {
						position: absolute; 
						&.box {
							width: 14px; height: 14px; opacity: 0;
							border: 1px solid $color-white;
							filter: blur(1px);
							@include visibility();
							@include transform();
						}
						&.progress {
							opacity: 0.65;
							span {
								float: left; opacity: 0;
								width: 12px; height: 12px;
								margin-right: 4px;
								background: $color-white;
								border-radius: 1px;
								filter: blur(0.65px);
								@include visibility();
								@include transform();
								&:last-child {
									margin-right: 0px;
								}
							}
						}
					}
				}
			}
			&.active {
				@include transform();
				.segmenter,
				.segmenter1,
				.segmenter3,
				.segmenter5,
				.segmenter7,
				.segmenter9 {
					opacity: 1;
					@include transform();
				}
				.segmenter2,
				.segmenter4,
				.segmenter6,
				.segmenter8,
				.segmenter10 {
					opacity: 0.2;
					@include transform();
				}
				.decoration {
					p {
						@include transform();
					}
					.progresses-holder {
						@include transform();
					}
				}
			}
			&.up {
				opacity: 0;
				@include transform($y: -100%);
				.decoration {
					p {
						@include transform($y: 30vh);
					}
					.progresses-holder {
						@include transform($y: -30vh);
					}
				}
			}			
			&.down {
				opacity: 1;
				@include transform($y: 100%);
				.decoration {
					p {
						@include transform($y: -30vh);
					}
					.progresses-holder {
						@include transform($y: 30vh);
					}
				}
				.segmenter,
				.segmenter1,
				.segmenter3 {
					opacity: 0;
				}
			}
			// &:first-child {
				.decoration {
					p {
						&:first-of-type {
							left: 72.8%; top: 18.75%;
						}
						&:nth-of-type(2) {
							left: 10.1466%; top: 61.875%;
						}
						&:nth-of-type(3) {
							left: 52.77%; top: 87.5%;
						}
						&:nth-of-type(4) {
							left: 40.5%; top: 27.5%;
						}
					}
					.progresses-holder {
						.progress {
							&:first-of-type {
								left: 6.25%; top: 21.875%;
								@include transform($sx: 0.65, $sy: 0.65);
							}
							&:nth-of-type(2) {
								left: 57.6388%; top: 13.125%;
								@include transform($sx: 0.5, $sy: 0.5);
							}
							&:nth-of-type(3) {
								left: 86.11%; top: 38.125%;
								@include transform($sx: 0.5, $sy: 0.5);
							}
							&:nth-of-type(4) {
								left: 39.5833%; top: 87.25%;	
							}
						}
					}
				}
			//}
			&:last-of-type {
				.decoration {
					p {
						&:nth-of-type(2) {
							left: 10.1466%; top: 35.875%;
						}
					}
				}
			}
		}
		&:after {
			content: "";
			display: block; position: absolute; left: 0px; top: 0px;
			width: 100%; height: 100%;
			box-shadow: 0 0 200px rgba($color-yankees-blue, 0.9) inset;
		}
		#noise {
			display: block; position: absolute; top: -50%; left: -50%; z-index: 2;
			width: 200%; height: 200vh;
			background: url(../img/noise.png) left top repeat; 
			@include visibility();
			animation: noise-anim 1200ms infinite;
		}
		@include breakpoint(1024) {
			section {
				&.active {
					.segmenter2,
					.segmenter4,
					.segmenter6,
					.segmenter8,
					.segmenter10 {
						opacity: 1;
					}
				}
			}
		}
	}

	.sections-holder {
		position: fixed; left: 0px; top: 0px;
		width: 100%; height: 100%;
		section {
			position: absolute; left: 0px; top: 0px; overflow: hidden;
			width: 100%; height: 100%;
			background-color: rgba(0,0,0,0.1);
			.holder {
				opacity: 0; overflow: hidden;
				pointer-events: none;
				@include transform($y: 50vh);
				@include transition(1000ms 2000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
			}
			.learn-more-btn {
				position: fixed; left: 120px; bottom: 30px; display: block; opacity: 0;
				font-size: 14px; font-family: $font-medium; line-height: 125.2%; color: $color-chartreuse; text-transform: uppercase; text-decoration: underline;
				span {
					display: block;
				}
			}
			&.hero {
				.holder {
					position: absolute; left: 25%; top: 50%; opacity: 0;
					@include transform($y: calc(-50% + 120px));
					@include visibility();
					@include transition(1000ms 2000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
					article {
						h1 {
							text-transform: uppercase; color: $color-white;
							strong {
								color: $color-chartreuse;
							}
							@include breakpoint(640) {
								font-size: 60px; line-height: 64px;
							}
						}
					}
				}
			}
			&.with-auto-height {
				.holder {
					position: absolute; left: 0px; top: 0px; overflow-y: auto !important;
					width: 100%; height: 100%;
					article {
						padding: 50vh 37.5vw 22vh 25vw;
						p {
							font-size: 50px; line-height: 64px; color: $color-white; font-family: $font-medium; text-transform: uppercase;
						}
						.mobile-scroll-indicator {
							display: none;
						}
					}
				}
			}
			&.footer {
				.holder {
					position: absolute; bottom: 30px; left: 120px;
					article {
						color: $color-chartreuse;
						ul {
							margin-bottom: 30px;
							@include breakpoint(1440){
								margin-bottom: 15px;
							}
							li {		
								@include breakpoint(1440){
									font-size: 17px;
								}		
								@include breakpoint(1200){
									br{
										&:first-of-type{
											display: none;
										}
									}
								}
								@include breakpoint(768){
									br{
										&:first-of-type{
											display: block;
										}
									}
								}				
								span {
									font-size: 26px;
									@include breakpoint(1440){
										font-size: 24px; 
									}					
								}
								a {
									color: $color-white; text-decoration: underline;
									&:hover {
										text-decoration: none;
									}
								}
								
							}
							&.social-nav {
								overflow: hidden;
								margin: -10px 0 40px;
								@include breakpoint(1440){
									margin: 0 0 20px;
								}
								li {
									float: left;
									margin-right: 20px;
									a {
										display: block;
										width: 26px; height: 26px;
										text-indent: -9999px;
										outline: none;
										background-position: center center; background-repeat: no-repeat; background-size: 100% 100%;
									}
									&.facebook {
										a {
											background-image: url(../img/icon-facebook.svg);
										}
									}
									&.twitter {
										a {
											background-image: url(../img/icon-twitter.svg);
										}
									}
									&.google {
										a {
											background-image: url(../img/icon-google.svg);
										}
									}
									&.instagram {
										a {
											background-image: url(../img/icon-instagram.svg);
										}
									}
									&.linkedin {
										a {
											background-image: url(../img/icon-linkedin.svg);
										}
									}
									&:last-child {
										margin-right: 0px;
									}
								}
							}
						}
						p {
							font-size: 12px; line-height: 18px; color: $color-white;
						}
					}
				}
			}
		}
		@include breakpoint(1024) {
			section {
				.learn-more-btn {
					left: 60px;
				}
				&.footer {
					.holder {
						left: 60px;
					}
				}
			}
		}
		@include breakpoint(768) {
			section {
				&.hero {
					.holder {
						.cta-btn {

						}
					}
				}
				&.with-auto-height {
					.holder {
						article {
							padding-right: 13.020833vw;
							p {
								line-height: 64px;
							}
						}
					}
				}
				.learn-more-btn {
					display: flex; position: absolute; right: 60px; bottom: 50px; left: auto; align-items: center;
					width: 82px; height: 82px;
					color: $color-black; line-height: 14px; text-align: center; text-transform: uppercase; text-decoration: none;
					background: $color-chartreuse;
					border-radius: 50%;
					span {
						display: none;
					}
				}
			}
		}
		@include breakpoint(768) {
			section {
				&.hero,
				&.footer {
					.holder {
						position: relative; left: auto; top: auto; bottom: 0px; display: flex; flex-wrap: wrap; justify-content: space-between; //flex-direction: column;
 						height: 100%; width: 100%;
						padding: 150px 150px 0;
						@include box-sizing();
						@include transform();
						.cta-btn {
							position: relative; left: auto; bottom: auto; right: auto;
							//margin-right: 150px;
							border-bottom: 2px solid $color-chartreuse;
							@include transform($y: 5px);
							align-self: flex-end;
						}
					}
				}
				&.footer {
					.holder {
						align-items: flex-end;
						article {
							.social-nav,
							p {
								display: none;
							}
						}
					}
				}
				&.with-auto-height {					
					.holder {
						article {
							padding: 150px 150px 150px 180px;
							p {
								font-size: 32px; line-height: 44px;
							}
						}
					}
				}
				.learn-more-btn {
					right: 30px; bottom: 30px;
				}
			}
		}
		@include breakpoint(640) {
			section {
				&.hero,
				&.footer {
					.holder {
						padding-left: 30px; padding-right: 30px;
					}
				}	
				&.with-auto-height {
					.holder {
						// top: 150px;
						article {
							padding: 180px 30px 180px 30px;
							.mobile-scroll-indicator {
								display: block; overflow: hidden; position: relative;
								width: 30px; height: 30px;
								margin: 0 auto;
								@include transform($y: 150px);
								border: 1px solid $color-white; border-radius: 50%;
								&:after {
									content: "";
									display: block; position: absolute; left: 50%; top: 50%;
									width: 8px; height: 8px;
									background: url(../img/arrow-light-down.svg) center no-repeat; background-size: 100% 100%;
									@include transform($x: -50%, $y: -50%);
									animation: scroll-anim 2000ms infinite;
								}
							}
						}
					}
				}			
			}
		}
	}

	.sections-holder {
		section {
			&.active {
				.holder {
					opacity: 1;
					pointer-events: all;
					@include transform();
					@include transition(1000ms 2000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
					// article {
					// 	@include transition(1000ms 2000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
					// }
				}
				.learn-more-btn {
					opacity: 1;
					@include transition(1000ms 1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
				}
				&.hero {
					.holder {
						@include transform(-50%);
					}
				}
			}
			&.up {
				.holder {
					opacity: 0 !important;
					transform: translateY(-75vh) !important; 
					@include transition(1500ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
					// article {
					// 	//@include transform($y: calc(-100% - 50vh));
					// 	@include transition(1500ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
					// }
				}
				.learn-more-btn {
					opacity: 0;
					@include transition(1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
				}
				&.hero {
					.holder {
						transform: translateY(calc(-50% -75vh));
					}
				}
			}
			&.down  {
				.holder {
					opacity: 0 !important;
					transform: translateY(calc(50% + 50vh)) !important; 
					@include transition(1500ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
					// article {
					// 	@include transition(1500ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
					// }
				}
				.learn-more-btn {
					opacity: 0;
					@include transition(1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
				}				
			}
		}
	}

	.init-anim {
		.sections-holder {
			section {
				&.hero {
					.holder {
						opacity: 1;
						@include transform($y: -50%);
						article {
						}
					}
				}
			}
		}
		@include breakpoint(768) {
			.sections-holder {
				section {
					&.hero {
						.holder {
							@include transform();
						}
					}
				}
			}
		}
	}

	.init-anim {
		.bgrs-holder {
			section {
				//&.animating,
				&.active,
				&:first-child {
					.decoration {
						p {
							span {
								opacity: 1;
							}
						}
						.boxes-holder {
							.box {
								animation: blinking-anim 1000ms ease-in-out forwards;
								&:nth-last-of-type(2),
								&:last-of-type {
									animation-name: blinking-anim-v2;
								}
							}
						}
						.progresses-holder {
							.progress {
								span {
									animation: filling-anim 2500ms ease-in-out forwards;
									&:first-child {
										animation: filling-anim 2500ms ease-in-out forwards;
									}
									&:nth-child(2) {
										animation-name: filling-anim-v2;
									}
									&:nth-child(3) {
										animation-name: filling-anim-v3;
									}
									&:nth-child(4) {
										animation-name: filling-anim-v4;
									}
									&:nth-child(5) {
										animation-name: filling-anim-v5;
									}
									&:nth-child(6) {
										animation-name: filling-anim-v6;
									}
									&:nth-child(7) {
										animation-name: filling-anim-v7;
									}
									&:last-child {
										margin-right: 0px;
										animation-name: filling-anim-v8;
									}									
								}
							}
						}
					}
				}
			}
		}
	}

	@keyframes scroll-anim {
		0% { @include transform($x: -50%, $y: -20px); }
		20% { @include transform($x: -50%, $y: -50%); }
		80% { @include transform($x: -50%, $y: -50%); }
		100% { @include transform($x: -50%, $y: 20px); }
	} 

	.scroll-indicator {
		position: fixed; right: 120px; top: 50%; opacity: 0;
		font-size: 12px; line-height: 18px; text-align: center; color: $color-white;
		@include transform($y: -50%, $x: 60px);
		@include visibility();
		@include transition(1000ms 2000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
		cursor: pointer;
		&:before {
			content: "";
			position: absolute; left: 0; top: 20px;
			width: 0; height: 1px;
			background-color: rgba(255,255,255,0.4);
			@include transition(all 200ms 0s ease-in-out);
		}
		span {
			display: block; overflow: hidden; position: relative;
			width: 30px; height: 30px;
			margin-top: 10px;
			border: 1px solid $color-white; border-radius: 50%;
			&:after {
				content: "";
				display: block; position: absolute; left: 50%; top: 50%;
				width: 8px; height: 8px;
				background: url(../img/arrow-light-down.svg) center no-repeat; background-size: 100% 100%;
				@include transform($x: -50%, $y: -50%);
				animation: scroll-anim 2000ms infinite;
			}
		}
		@include breakpoint(1024) {
			right: 60px;
		}
		@include breakpoint(640) {
			display: none;
		}
		&:hover {
			&:before {
				width: 100%;
			}
		}
	}

	body {
		&.footer-active {
			.scroll-indicator {
				opacity: 0;
				@include transition(200ms 0s ease-in-out);
			}
		}
	}

	.init-anim {
		.scroll-indicator {
			opacity: 1;
			@include transform($y: -50%);
		}
	}

	.cta-btn {
		display: block; position: fixed; right: 120px; bottom: 0px; opacity: 0;
		border: 2px solid $color-chartreuse; border-bottom: none;
		pointer-events: all;
		@include transform($y: 120px);
		@include visibility();
		@include transition(1000ms 2000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));						
		span {
			display: block;
			padding: 40px 50px 50px 140px;
			@include transition(300ms ease-in-out);
			@include breakpoint(640){
				padding: 40px 50px 65px 120px;
			}
			i {
				display: block; position: relative;
				font-family: $font-medium; font-size: 16px; line-height: 22px; color: $color-chartreuse; text-transform: uppercase; font-style: normal;
				@include transition(300ms ease-in-out);
				@include breakpoint(640) {
					font-size: 14px; line-height: 125.2%;
				}
				&:before,
				&:after {
					content: "";
					display: block; position: absolute; left: 0px; top: 100%;
					width: 80px; height: 15px;
					background-position: center center; background-repeat: no-repeat; background-size: 100% 100%;
					@include transition(300ms ease-in-out);
					@include breakpoint(640){
						top: 110%;
					}
				}
				&:before {
					background-image: url(../img/arrow-yellow-right.svg);
				}
				&:after {
					opacity: 0;
					background-image: url(../img/arrow-dark-right.svg);
				}
			}
		}
		&:hover {
			span {
				background: $color-chartreuse;
				@include breakpoint(640){
					background: transparent;
				}
				i {
					color: $color-black;
					&:before {
						opacity: 0;
						@include transform($x: 15px);
					}
					&:after {
						opacity: 1;
						@include transform($x: 15px);
					}
				}
			}
		}
		@include breakpoint(1024) {
			right: 60px;
		}
	}

	.init-anim {
		.cta-btn {
			opacity: 1;
			pointer-events: all;
			@include transform();
		}
	}	

	.side-nav {
		position: fixed; left: 120px; top: 50%; overflow: hidden; opacity: 0;
		width: 50px;
		pointer-events: none;
		@include transform($y: -50%, $x: -60px);
		@include visibility();
		@include transition(1000ms 2000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));						
		li {
			a {
				display: block; position: relative;
				height: 2px;
				padding: 4px 0;
				text-indent: -9999px;
				outline: none;
				&:before {
					content: "";
					display: block; position: absolute; left: 0px; top: 50%;
					width: 25px; height: 2px;
					background: $color-white;
					@include transform($y: -50%);
					@include origin(left center);
					@include transition(300ms ease-in-out);
				}
				&:hover {
					&:before {
						@include transform($y: -50%, $sx: 1.5);
					}
				}
			}
			&.active {
				a {
					&:before {
						background: $color-chartreuse;
						@include transform($y: -50%, $sx: 2);
					}
					&:hover {
						&:before {
							@include transform($y: -50%, $sx: 2);
						}
					}
				}
			}
		}
		@include breakpoint(1024) {
			left: 60px;
		}
		@include breakpoint(640) {
			display: none;
		}
	}

	.init-anim {
		.side-nav {
			opacity: 1;
			pointer-events: all;
			@include transform($y: -50%);
		}
	}	

	