/*
= ANNUAL REPORT
------------------------------------------------------------------------------------- */
.annual-report {
	header {
		.holder {
			.logo,
			nav,
			.nav-trigger {
				@include transition(1000ms 2000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
			}
		}
	}
	.content-outer {
		overflow: hidden;
		height: 100vh; 
		@include transform($y: 100vh);
		@include transition(1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
    .page-entry,
    .block-editor-writing-flow {
        .large-text {
            p {
                font-size: 25px; line-height: 160%;
            }
        }
    }
}


.annual-content-holder {
    .wrapper {
        padding-top: 150px;
    }
    .wide-content {
        .wrapper {
            padding-left: 0; padding-right: 0;
        }
    }
    &.page-entry {
        .col {
            p {
                max-width: 700px;
                &.right-padding {
                    padding-right: 80px; 
                    color: #525A5F;
                }
            }
        }
    }
    .image-heading-holder {
        .image-heading-outer {
            &.annual-report__block-text-img   {
                hgroup {
                    bottom: auto; top: -60px;
                    h3 {
                        padding: 120px 76px 54px 60px;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -50%;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    background-color: #e6fa05;
                }

                &.offset-left {
                    right: 120px;
                }
                &.offset-right {
                    left: 120px;
                }
                &.extended-right {
                    &::after {
                        width: calc(100% + 120px);
                    }
                    
                }
                &.extended-left {
                    &::after {
                        width: calc(100% + 120px);
                        left: auto;
                        right: 0;
                    }
                    
                    
                }
            }
            .image-heading-columns {
                padding-bottom: 0;
                .col {
                    p {
                        max-width: 700px;
                    }
                }
            }
        } 
           
        &::after {
            display: none;
        }
        .image-heading-columns {
            padding-bottom: 240px;
            gap: 0;
            .col {
                &:first-child {
                    width: 40%;
                    flex: 0 1 auto;
                }
                &:nth-child(2) {
                    width: 50%;
                }
            }
        }
    }

    .is-layout-flex {
        
        .wp-block-column {
            min-width: 50%;
        }
    }

    .annual-report__three-columns {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 0; margin-right: 0;
        .wp-block-column {
            margin-left: 0!important;
            h5 {
                text-transform: uppercase;
                margin-top: 36px;
            }
        }
        .wp-block-media-text__media {
            &.image-top-offset {
                margin-bottom: 120px!important;
            }
            

        }
    }

    .text-content-outer {
        .wrapper {
            padding-top: 50px;
        }
    }

    .annual-report__smaller-text-column {
        .wp-block-media-text__content {
            p {
                max-width: 410px;
            }
        }
    }
}

.annual-content-holder {
    .dark-content-outer {
        padding-top: 0;
    }
    // .dark-content {
    //     .image-heading-holder {
    //         &.annual-report-block__text-img {
    //             &::after {
    //                 left: auto; right: 0;
    //             }
    //         }
    //     }
    // }
}




.tablet,
.mobile {
	.annual-report {
		.content-outer {
			display: none;
		}
	}
}