/*
= ANNUAL REPORT
------------------------------------------------------------------------------------- */
.annual-report {
	header {
		.holder {
			.logo,
			nav,
			.nav-trigger {
				@include transition(1000ms 2000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
			}
		}
	}
	.content-outer {
		overflow: hidden;
		height: 100vh; 
		@include transform($y: 100vh);
		@include transition(1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000));
	}
    .page-entry,
    .block-editor-writing-flow {
        .large-text {
            p {
                font-size: 25px; line-height: 160%;
            }
        }
    }
}


.annual-content-holder {
    .wrapper {
        padding-top: 150px;
    }
    .wide-content {
        .wrapper {
            padding-left: 0; padding-right: 0;
        }
    }
}



.tablet,
.mobile {
	.annual-report {
		.content-outer {
			display: none;
		}
	}
}